*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
h1
{
    color:gray;
    text-align: center;
    font-family: 'Ms Madi', cursive;
}
li{
    color:darkgray;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: black;
}

.grid-container > *{
    box-shadow: -1px 1px 7px rgba( gray, green, green, green, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.grid-container{
    display: grid;
    gap: 10px;

}